<div class="jumbotron text-center">
  <h1>Beauty Shop</h1>
  <p class="lead">Welcome to Beauty Shop Application!</p>
  <p>Make an appointment for any beauty service of our shop via this website. Do not forget to register and login, as soon as you add an appointment, our shop will contact you. The feedback is appreciated.</p>
  <div>
    <a class="btn btn-primary" [routerLink]="['/register']">Register</a><a class="btn btn-default" [routerLink]="['/login']">Login</a>
  </div>
</div>

<!--<div class="row">
  <div class="col-md-4">
    <h3>Express Backend</h3>
    <p></p>
  </div>
  <div class="col-md-4">
      <h3>Angular CLI</h3>
      <p></p>
    </div>
  <div class="col-md-4">
      <h3>JWT Tokens</h3>
      <p></p>
  </div>
</div>-->
